!!!
%html
  = render :partial => 'layouts/head'
  %body
    = render :partial => 'layouts/nav'
    .container
      .row
        .col-sm-12
          = render :partial => 'layouts/flash_messages'
      .row
        .col-md-3
          %p.lead Shop Name
          = render :partial => "site/categories"
        .col-md-9
          .row
            = yield
        / /.container
    .container
      %hr/
      / Footer
      %footer
        .row
          .col-lg-12
            %p Copyright © Your Website 2014
