%h1
  Addresses
= render partial: 'nav'
.row
  .col-sm-6
    .panel.panel-primary.address-panel
      .panel-heading
        %h4 Billing address
      .panel-body
        - if @user_addresses.present?
          %h4
            %strong Your addresses
          = form_for @cart, url: {action: :update} do |f|
            = f.collection_select(:billing_address, @user_addresses, :id, :address, {:selected => @cart.billing_address ? @cart.billing_address_id : nil})
            = f.submit("Select", {class: 'btn btn-primary'})
        %h4 Address info
        = render partial: 'address_form', locals: { address: @address }
