%h1
  Address
= render partial: 'nav'
.row
  .col-sm-6
    .panel.panel-primary.address-panel
      .panel-heading
        Billing address
      .panel-body
        = @cart.billing_address && @cart.billing_address.address
      .panel-heading
        Shipping address
      .panel-body
        = @cart.shipping_address && @cart.shipping_address.address
      .panel-heading
        Delivery
      .panel-body
        = @cart.delivery && @cart.delivery.name
      .panel-heading
        Payment
      .panel-body
        = @cart.credit_card && @cart.credit_card.number
  .col-sm-6
    .panel.panel-primary.address-panel
      .panel-heading
        Your cart
      .panel-body
        = render partial: 'shopper_engine/orders/table', locals: {order: @cart, editable: true }
%div
  =link_to 'Submit', cart_submit_path, {class: 'btn btn-primary', method: :get}
