%table.table.table-bordered.table-hover
    %thead
        %tr
            %th
                Title
            %th
                Price
            %th
                Quantity
            %th
                Sum
    %tbody
        - order.order_items.each do |item|
            %tr
                %td
                    = item.book.title
                %td
                    - if editable
                        = "#{item.book.price}$"
                    - else
                        = "#{item.price / item.quantity}$"
                %td
                    - if editable
                        = render partial: "orders/quantity_form", locals: {item: item}
                    - else
                        = item.quantity
                %td
                    - if editable
                        = "#{item.book.price * item.quantity}$"
                    - else
                        = "#{item.price}$"
    %tfoot
        %tr
            %th Total:
            %th
            %th
                = order.order_items.sum(:quantity)
            %th
                = "#{order.price}$"
